{% extends "main.html"%}
{% block head %}
{% endblock %}
{% block content %}

<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72"
            height="72">
        <h2>Print form</h2>
        <p class="lead">Fill out the form below and click the Print button.</p>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1 justify-content-md-center">
            <form enctype="multipart/form-data" class="needs-validation" method="post">
                {{form.hidden_tag()}}
                <div class="row justify-content-md-center">
                    <div class="col-md-6 mb-3">
                        {{form.name.label(class="form-control-label")}}
                        {{form.name(class="form-control", placeholder="Enter a name for your job")}}
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    <div class="col-md-6 mb-3">
                        <label for="quantity">Number of Copies</label>
                        <div class="custom-file">
                            <input type="number" class="form-control" id="quantity">
                        </div>
                    </div>
                </div>

                <div class="row justify-content-md-center">
                    <div class="col-md-6 mb-3">
                        <div class="form-group mt-3">
                            <label class="mr-2">Upload your file:</label>
                            {{form.input_file()}}
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-6 mb-3">
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Print</button>
                        <hr class="mb-4">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}